<img src="https://liveapps.nestdigital.com/intranest/images/NeST_Digital_Logo.png" width="100%" style="padding-block: 8%;" alt="">

<h3 style="font-size: x-large;align-items: center;color: white;background-color: blue;opacity: 50%;">neST Digital Corporate Office</h3>
<div row>
  <div col>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5  class="card-title">NeST Digital Corporate Office</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Plot No. 2, Cochin Special Economic Zone(CSEZ), Kakkanad, Cochin – 682 037, India
<br>
      Phone: +91-484-661 4300</p>
  </div>
</div>
</div></div>
<h3 style="font-size: x-large;align-items: center;color: white;background-color: blue;opacity: 50%;">for Business related enquiries</h3>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Email: sales.nestdigital.nestgroup.net


<br>
Ph: +91-484-6701000, +91484-4203333 </p>
  </div>
</div>
<h3 style="font-size: x-large;align-items: center;color: white;background-color: blue;opacity: 50%;">
NeST Digital Development Centers</h3>
<div class="row">
<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="https://th.bing.com/th/id/OIP.c340U6dNlsEgUsBmvccUHwHaEv?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NeST Towers, University junction,Kalamassery, Kochi, Kerala,India – 682 033</h5>
      <p class="card-text">Ph: +91-4846701000</p>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="https://lh5.googleusercontent.com/p/AF1QipOVAJpUo50EtxOm-Js0O-VLRN6jVXdzHM8PU7sp=w1080-k-no" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NeST Tech Park, NeST Valley,Near Infopark, Infopark P.O,Kakkanad, Kochi, Kerala,India – 682042</h5>
      <p class="card-text">Ph:+914844203333</p>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="https://liveapps.nestdigital.com/intranest/images/NeST_Digital_Logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Unit 4, 1st Floor, Cresent 1,Prestige Shantiniketan,Sadaramangala Village,Whitefield, Bangalore – 560048</h5>
      
    </div>
  </div>
  </div>

  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="https://liveapps.nestdigital.com/intranest/images/NeST_Digital_Logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">A-3, Periyar, Technopark Campus,Karyavattom, Trivandrum,Kerala, India -695 581</h5>
      <p class="card-text">

        Ph:- 0471-2527441
        <br>
        Fax :- 0471-2700442</p>
    </div>
  </div>
  </div>
  </div>
  
  <h3 style="font-size: x-large;align-items: center;color: white;background-color: blue;opacity: 50%;">Major front end offices</h3>

<div class="row">
<div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">NeST IT LLC</h5>
      <p class="card-text">#203, 2nd Floor, Al Moosa Tower II,Sheikh Zayed Road, P O Box 83189, Dubai, UAE.

        Off. +971 43252100
        
        Mob. +971 565745642</p>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">SFO TECHNOLOGIES CORPORATION

        </h5>
        <p class="card-text">200, South Executive DriveSuite 101, BrookfieldWisconsin – 53005, USA



          Off. +971 43252100
          
          Mob. +971 565745642</p>
      </div>
    </div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">NeST TECHNOLOGIES CORP
</h5>
    <p class="card-text">44873 Falcon Place, Suite 118Sterling, VA 2016

      Tel: 703-653-1100
      
      Fax: 703-803-8319
       Off. +971 43252100
       Mob. +971 565745642</p>
  </div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">SFO TECHNOLOGIES
</h5>
    <p class="card-text">Daiichi Meiji Building 2F,3-3-11 IrifuneChuo-ku, Tokyo 104-0042 JAPAN

      TEL: 0081-3-6262-8989</p>
  </div>
</div>
</div>

<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">NeST DIGITAL LIMITED
</h5>
    <p class="card-text">19 Leyden Street,London, United Kingdom,E1 7LE</p>
  </div>
</div>
</div>
</div>


  <img src="https://wallpaperaccess.com/full/2579546.jpg" style="height: 600px; width: 100%;" alt="cnct">

  <div class="mb-4">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control border-success" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
  <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger">
    feedback
  </div>
  
  <div class="mb-4">
    <input type="feedback" class="form-control border-success" id="exampleFormControlInput1" placeholder=>
  </div>

  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save </button>
        </div>
    
      