<div class="row" style="background-color: darkblue;">
    <div class="col">
        <ul    class="nav flex-column">
          <h3 style="color: orange;">quick links</h3>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="home.html">home</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="about us.html">about us</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">insights</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">careers</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="contact.html">contact us</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="#">blogs</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="#">whitepapers</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="#">webinar</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
            <a style="color: white;"  class="nav-link" href="#">podcasts</a>
          </li>
          </div>
          </ul>
          </div>
  
  <div class="col">
      <ul  class="nav flex-column">
        <h3 style="color: orange;">industries</h3>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="mobility.html">mobility</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="aerospace.html">aerospace & Defence</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="locomotive.html">locomotive</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="industrial.html">industrial</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="banking.html">Banking & Financial Service</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="insuranced.html">Insurance</a>
        </li>
        </div>
        <div class="col">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="health.html">Healthcare</a>
        </li>
        </div>
        </ul>
        </div>
  
        
  <div class="col">
    <ul    class="nav flex-column">
      <h3 style="color:orange;">services</h3>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;"  class="nav-link" href="#">cloud services</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">cyber security</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">data Engineering</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">DevOps</a>
      </li>
      </div>
      <div class="col">
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="#">Gis</a>
      </li>
      </div>
      </ul>
      </div>
    
      <div class="col">
        <h2 style="color: white;">Get updates on our Insights</h2>
        <h5 style="color: white;">Stay connected with NeST Digital to get timely updates of our thought leadership posts by filling the below details.</h5>
     <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
          <div class="col-md">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
            <label for="floatingInputGrid">Email address</label>
          </div>
          <p></p>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
        <p style="color: white;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      <p style="padding: 3%;color: white;text-align: center;">2023 © All rights reserved. NeST Digital Pvt Ltd.    |    Legal Disclaimer |    Disclaimer: Fraud Recruitment Offers    |    A NeST Group Company </p>
    

    </div>
    <h4>connect us with</h4>
    <div class="row">
      <img src="https://img.icons8.com/?size=48&id=118497&format=png" class="rounded float-start" style="width: 100px;" alt="...">
      <img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
      <img src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
      <img src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
      <img src="https://img.icons8.com/?size=48&id=cMRBi0rI3iwb&format=png" class="rounded float-start" style="width: 100px;" alt="...">
      <img src="https://img.icons8.com/?size=48&id=GCFsv1L11D1z&format=png" class="rounded float-start" style="width: 100px;" alt="...">

