.root {
    opacity: 99%;
    background-image: url("https://ajce.in/ece/images/nest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 }
    
    
    
    
    
