<div class="vr"></div>
<div class="vr"></div>
<div class="vr"></div>
<h2 style="font-size: xx-large;font-style: italic;background-color: lightblue;"> combine our deep domain expertise, reusable digital platforms, & complimentary services to deliver world class solutions that brings outstanding success for our customers

</h2>
<app-corosel></app-corosel>

<p style="font-size: xx-large;font-style: italic;color:black;">NeST Digital is a global technology solutions provider based in Kochi, Kerala. They specialize in delivering digital-led innovation and business transformation for a wide range of clients, from startups to Global Fortune 500 companies1.

    Founded in 1998, NeST Digital is part of the NeST Group and combines expertise in R&D, manufacturing, digital technologies, and services to offer integrated solutions. They focus on various industries, including mobility, healthcare, industrial, banking & finance, and insurance2.
    
    Their mission is to be a single digital partner for their clients’ transformation journeys, leveraging their extensive experience to solve complex challenges and improve business outcomes2.</p>

<div>
    <h1 style="text-align: center;color: blue;" > 60+clients </h1>
    <h1 style="text-align: center;color: blue;">25 years of IT solutions</h1>
    <h1 style="text-align: center;color: blue;">6countries</h1>
</div>
<app-accordian></app-accordian>

